:root {
  --my-accent-color: #2190a4;
  --my-accent-color-light: #007184;
  --my-accent-color-dark: #7bdff4;
}

body {
  --keyColor: var(--my-accent-color);
  --musicKeyColor: var(--my-accent-color);
  --accent-color: var(--my-accent-color);
}

body.body--light {
  --q-primary: var(--my-accent-color-light, --my-accent-color);
}

body.body--dark {
  --q-primary: var(--my-accent-color-dark, --my-accent-color);
}

