:root {
  --my-accent-color: #ea9d34;
  --my-accent-color-light: #ea9d34;
  --my-accent-color-dark: #f6c177;
}

body {
  --keyColor: var(--my-accent-color);
  --musicKeyColor: var(--my-accent-color);
  --accent-color: var(--my-accent-color);
}

body.body--light {
  --q-primary: var(--my-accent-color-light, --my-accent-color);
}

body.body--dark {
  --q-primary: var(--my-accent-color-dark, --my-accent-color);
}

