:root {
  --my-accent-color: #b4637a;
  --my-accent-color-light: #b4637a;
  --my-accent-color-dark: #eb6f92;
}

body {
  --keyColor: var(--my-accent-color);
  --musicKeyColor: var(--my-accent-color);
  --accent-color: var(--my-accent-color);
}

body.body--light {
  --q-primary: var(--my-accent-color-light, --my-accent-color);
}

body.body--dark {
  --q-primary: var(--my-accent-color-dark, --my-accent-color);
}

