body {
  font-family: 'Inter Variable', 'Cantarell', 'Helvetica Neue', 'Arial', 'sans-serif';
  font-size: 14px;
}

body.body--dark {
  --sidebar-bg: var(--sidebar-bg-dark);
  --secondary-sidebar-bg: var(--secondary-sidebar-bg-dark);
  --primary-bg: var(--primary-bg-dark);
  --popover-bg: var(--popover-bg-dark);
  --card-bg: var(--card-bg-dark);
  --fg: var(--fg-dark);
}

body.body--light {
  --sidebar-bg: var(--sidebar-bg-light);
  --secondary-sidebar-bg: var(--secondary-sidebar-bg-light);
  --primary-bg: var(--primary-bg-light);
  --popover-bg: var(--popover-bg-light);
  --card-bg: var(--card-bg-light);
  --fg: var(--fg-light);
}

body {
  --text: var(--fg);
  --text-dim: rgba(var(--text-color), 0.55); 
  --text-dim-hc: rgba(var(--text-color), 0.90); 
  --border: rgba(var(--text-color), 0.15);
  --border-hc: rgba(var(--text-color), 0.5);
  --button-hover: rgba(var(--text-color), 0.1);
  --button-active: rgba(var(--text-color), 0.19);
}

