/* ----------- ADWAITA THEME ----------- */

/* ------------------------------------- */
/*          Basic Configuration          */
/* ------------------------------------- */

:root {
  --sidebar-dark: #303030;
  --background-dark: #242424;
  --overlay-dark: #383838;
  --sidebar-btn-dark: #454545;
  --text-subtle-dark: #98989D;
  --text-dark: #FFFFFF;
  --border-dark: rgba(255, 255, 255, 0.15);
  --border-hc-dark: rgba(255, 255, 255, 0.5);

  --sidebar-light: #EBEBEB;
  --background-light: #FFFFFF;
  --overlay-light: var(--background-light);
  --sidebar-btn-light: #DFDFDF;
  --text-subtle-light: #949498;
  --text-light: #000000;
  --border-light: rgba(0, 0, 0, 0.15);
  --border-hc-light: rgba(0, 0, 0, 0.5);
  
  /* See https://gnome.pages.gitlab.gnome.org/libadwaita/doc/main/css-variables.html#accent-colors */
}

